<section>
    <a href="/dashboard" class="is-pulled-right"> &larr; back to dashboard</a>
    <h2 class="title">Create New Testt</h2>
    <hr>
    <form class="new-test-form">
        <div>
            <label for="test-title">title:</label>
            <input class="input" type="text" id="test-title" name="test-title" placeholder="insert test title here" />
        </div>
        <div>
            <label for="test-content">content:</label>
            <input class="textarea is-large" id="test-content" name="test-content"
                placeholder="insert test content here" />
        </div>
        <button type="submit" class="button is-primary is-pulled-right">Create Test</button>
    </form>
</section>
<script src="/javascript/add-post.js"></script>