
<h1 style="Padding-left: 200px">Edit Test</h1>

<form class="Edit-Test">
  <div>
    <label for="Test-Title" style="margin-left: 142px">Test Title:</label>
    <input type="text" style="padding: 10 50px" id="Test-Title" />
  </div>
  <br>
  <div>
    <label for="Test-Content" style="margin-left: 120px">Test-Content:</label>
    <input type="Test-Content" style="padding: 50 50 50 50px" id="Test Content" />
  </div>
  <div>
    <button style="margin-left: 100px"type="Save-Post">Save Post</button>
  </div>
  <br>
  <div>
  <button  style="margin-left: 100px" type="Delete-Post">Delete Post</button>
  <div>
</form>


