{{#each tests as |test|}}

{{> test-info test}}
</div>

{{else}}
<h4 class="pb-4 has-text-centered has-text-weight-bold is=italic">Screening Tests</h4>
<br>
<br>
<div class="ScreenTest text-right">
            <h3>Screening Lung CT</h3>
            <h4>To detect tiny lung nodules</h4>
            <p>
              Screening Low-Dose Lung CT Scan: If more than 20 pack-year smoking history and age between 50 and 80.
            </p>
</div>
<br>
<div class="ScreenTest text-right">
            <h3>Mammogram</h3>
            <h4>To detect precancer or earlr cancer</h4>
            <p>
              Yearly Mammogram: Starts at age 40 for women with average risk.
            </p>
</div>
<br>
<div class="ScreenTest text-right">
            <h3>Heart/ Coronary Calcium scoring</h3>
            <h4>To detect hardening of the arteries of heart</h4>
            <p>
              Coronay/ Heart calcium scoring: Age above 50 with risk factors. Once.
            </p>
</div>
<br>
<div class="ScreenTest text-right">
            <h3>Colonoscopy</h3>
            <h4>To detect precancer or earlr cancer of colon</h4>
            <p>
              Colonoscopy: Everyone above age 45 with average risk. Every 10 years after that.
            </p>
</div>
<br>
<div class="ScreenTest text-right">
            <h3>Blood Cholesterol</h3>
            <h4>To detect bad fat narrowing lumen of all arteries in the body</h4>
            <p>
              Blood Cholesterol: Everyone age 20 or above. Once every 5 years.
            </p>
</div>
<br>
<!-- <h4 class="pb-4 has-text-centered is=italic">Screening Low-Dose Lung CT Scan: If more than 20 pack-year smoking history and age between 50 and 80.</h4>
<br>
<h4 class="pb-4 has-text-centered is=italic">Yearly Mammogram: Starts at age 40 for women with average risk.</h4>
<br>
<h4 class="pb-4 has-text-centered is=italic">Coronay/ Heart calcium scoring: Age above 50 with risk factors. Once. </h4>
<br>
<h4 class="pb-4 has-text-centered is=italic">Colonoscopy: Everyone above age 45 with average risk. Every 10 years after that</h4>
<br>
<h4 class="pb-4 has-text-centered is=italic">Blood Cholesterol: Everyone age 20 or above. Once every 5 years.</h4> -->

{{/each}}