{{#each tests as |test|}}

{{> test-info test}}
</div>

{{else}}
<h4 class="pb-4 has-text-centered is=italic">We offer following Screening tests</h4>
<br>
<br>
<br>
<h4 class="pb-4 has-text-centered is=italic">Screening Low-Dose Lung CT Scan: If more than 20 pack-year smoking history and age between 50 and 80</h4>
<br>
<h4 class="pb-4 has-text-centered is=italic">Mammogram: starting at 40 for average risk woman. Yearly after that.</h4>
<br>
<h4 class="pb-4 has-text-centered is=italic">Coronay/ Heart calcium scoring: Age above 50 with risk factors. Once. </h4>
<br>
<h4 class="pb-4 has-text-centered is=italic">Colonoscopy: For people above age 45 with average risk. Every 10 years after that</h4>
<br>
<h4 class="pb-4 has-text-centered is=italic">Blood Cholesterol: Everyone age 20 or above. Once every 5 years.</h4>

{{/each}}