/* CSS file inspired from the one in lesson 14 with appropriate changes made */

* {
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #333;
  }
  
  a {
    text-decoration: none;
    color: #5993da;
    font-weight: bold;
    transition: color .1s;
  }
  
  a:hover {
    color: #194274;
  }
  
  button {
    background-color: #225ca3;
    border: 0;
    padding: 1%;
    color: white;
    font-weight: bold;
    transition: background-color .2s;
    cursor: pointer;
    border-radius: 5px;
  }

  .button.is-primary {
    background-color: #126458;
  }
  
  button:hover {
    background-color: #194274;
  }
  
  .post-list {
    margin: 0;
    padding: 0;
  }
  
  textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  textarea:focus, input:focus {
    outline: none;
    border: 1px solid #3486eb;
  }
  
  textarea {
    min-width: 40%;
    min-height: 100px;
  }
  
  form > div {
    margin-bottom: 2%;
  }
  
  form label {
    display: block;
  }
  
  .wrapper {
    width: 100%;
    min-height: 100%;
    /*max-width: 1200px;*/
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /*background-color: #e9e0d5;*/
    background-color: rgb(218, 243, 245);
    background-image: none;
  }
  
  header {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
    background-color: #46cdf3;
  }
  
  /*header h1 {
    font-size: 1em;
  }*/
  
  main {
    flex: 1;
    padding: 2% 4%;
  }
  
  .btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: #5993da;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
  }
  
  .btn-no-style:hover {
    background: none;
    color: #194274;
  }
  
  .delete-article-btn {
    background-color: #f31111;
  }
  
  .delete-article-btn:hover {
    background-color: #d88671;
  }
  
  .article {
    margin-bottom: 2%;
    line-height: 150%;
  }
  
  .article .title span {
    font-style: italic;
    font-size: 90%;
    color: #3f3939;
  }
  
  .edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
  }
  
  /*.upvote-btn {
    background-color: #197d0f;
    transition: background-color .1s;
  }
  
  .upvote-btn:hover {
    background-color: #1f9c13;
  }*/
  
  .comment-form {
    margin-bottom: 5%;
  }
  
  .comment {
    padding: 1%;
    margin-bottom: 1%;
  }
  
  .comment:nth-child(odd) {
    background-color: #fff5eb;
  }
  
  .comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
  }
  
  .new-article-form input {
    width: 300px;
  }
  
  .edit-article-form {
    margin-bottom: 5%;
  }
  
  footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
    background-color: #ceebf3 !important;
  }

  .card {
    margin-bottom: 1em;
    margin-top: 1em;
  }

  .rows{
    display:flex;
    flex-direction: column;
  }

  .navbar{
    background-color: #46cdf3 !important;
  }

  .ScreenTest{
    width: 900px;
    margin: 0 auto 30px auto;
    background: #46cdf3;
    color: black;
    overflow: auto;
    justify-content: center;
    border-radius: 10px;
    font-size: medium;
  }